# postgres
PG_USER=    # OS username
PG_PASSWORD=
PG_HOST=localhost
PG_PORT=5432
PG_NAME=munchmax

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://<PG_USER>:@localhost:<PG_PORT>/munchmax?sslmode=disable
GOOSE_MIGRATION_DIR=./migrations

# pipeline
DATABASE_URL=postgres://<PG_USER>:@localhost:<PG_PORT>/munchmax?sslmode=disable

# optional, will use default
PORT=   # 8080
