# postgres
PG_USER=     # OS username
PG_PASSWORD= # required for docker compose
PG_HOST=localhost
PG_PORT=5432
PG_NAME=munchmax

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://<PG_USER>:<PG_PASSWORD>@localhost:<PG_PORT>/munchmax?sslmode=disable
GOOSE_MIGRATION_DIR=./internal/database/migrations

# pipeline
DATABASE_URL=postgres://<PG_USER>:<PG_PASSWORD>@localhost:<PG_PORT>/munchmax?sslmode=disable

# optional, will use default
PORT=   # 8080
